[data-theme="light"] {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 196, 196, 196;
  --background-end-rgb: 255, 255, 255;

  --test-rbg: rgb(196, 196, 196);

  --drawer-width: 10vw;

  --primary-border-color: rgb(188, 193, 188);
  --primary-border-fade: rgb(183, 185, 183);

  --primary-site-color: rgb(21, 255, 0);
  --primary-site-fade: rgb(18, 209, 1);

  --secondary-site-color: rgb(255, 3, 247);
  --secondary-site-fade: rgb(165, 3, 162);

  --info-site-color: rgb(253, 169, 2);
  --info-site-fade: rgb(152, 102, 1);

  --error-site-color: rgb(255, 45, 3);
  --error-site-fade: rgb(168, 31, 4);

  --primary-glow: radial-gradient(rgba(21, 255, 0, 0.4), rgba(1, 65, 255, 0));
  --secondary-glow: linear-gradient(
    to top right,
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, 0),
    rgba(21, 255, 0, 0.3)
  );
}

/* Dark theme: default */
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 44, 43, 43;

  --drawer-width: 15vw;

  --primary-border-color: rgb(76, 79, 76);
  --primary-border-fade: rgb(23, 24, 23);

  --primary-site-color: rgb(21, 255, 0);
  --primary-site-fade: rgb(144, 250, 144);

  --secondary-site-color: rgb(255, 3, 247);
  --secondary-site-fade: rgb(253, 149, 251);

  --info-site-color: rgb(253, 169, 2);
  --info-site-fade: rgb(248, 198, 97);

  --error-site-color: rgb(255, 45, 3);
  --error-site-fade: rgb(254, 126, 100);

  --primary-menutext-color: rgb(159, 164, 159);

  --primary-glow: radial-gradient(rgba(196, 1, 255, 0.4), rgba(1, 65, 255, 0));
  --secondary-glow: linear-gradient(
    to top right,
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, 0),
    rgba(196, 1, 255, 0.3)
  );

  --tile-start-rgb: 2, 13, 46;
  --tile-end-rgb: 2, 5, 19;
  --tile-border: conic-gradient(
    #ffffff80,
    #ffffff40,
    #ffffff30,
    #ffffff20,
    #ffffff10,
    #ffffff10,
    #ffffff80
  );

  --highlight-text: linear-gradient(
    to left,
    var(--primary-site-color),
    var(--primary-site-fade)
  );

  --highlight-text-glow: 0 0 10px var(--primary-site-color),
    0 0 20px var(--primary-site-color), 0 0 30px var(--primary-site-color),
    0 0 40px var(--primary-site-color);

  --highlight-link: linear-gradient(
    to left,
    var(--secondary-site-color),
    var(--secondary-site-fade)
  );

  --highlight-link-glow: 0 0 10px var(--secondary-site-color),
    0 0 20px var(--secondary-site-color), 0 0 30px var(--secondary-site-color),
    0 0 40px var(--secondary-site-color);

  --highlight-info: linear-gradient(
    to left,
    var(--info-site-color),
    var(--info-site-fade)
  );

  --highlight-error: linear-gradient(
    to left,
    var(--error-site-color),
    var(--error-site-fade)
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to top,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



a {
  color: inherit;
  text-decoration: none;
}

span.highlight {
  background: var(--highlight-text);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

footer {
  margin-left: 2%;
}
