table {
  display: block;
  border-collapse: collapse; /* Ensures no extra spacing between cells */
  margin: 1rem 0;

  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
  padding: 2rem;

  border: 1px solid var(--primary-border-color);
  box-shadow: 1px 0 55px rgba(7, 8, 7, 0.5);
}

thead {
  background-color: rgb(49, 50, 49);
}

tbody {
  width: 100%;
}

th {
  background: var(--highlight-text);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  border: 1px solid var(--primary-border-color);
  padding: 1rem;

  font-weight: bold;
  font-size: 1.5rem;
  text-align: left; /* Aligns text to the left */

  cursor: pointer; /* Shows pointer for sortable columns */
  user-select: none; /* Prevents text selection while clicking */
}

th.sortable:hover,
th.sortable:focus,
th.sortable:active {
  /* Column highlight on hover */
  color: var(--primary-site-color);
  transition: 0.3s;
  text-shadow: var(--highlight-text-glow);
  outline: none;
}

td {
  border: 1px solid var(--primary-border-color);
  padding: 1rem;
  text-align: left; /* Aligns text to the left */
  font-size: 1.25rem;
}

tbody tr:nth-child(even) {
  /* Alternating row color for better readability */
  background-color: rgb(49, 50, 49);
}

tr:hover {
  /* Row highlight on hover */
  color: var(--primary-site-color);
  transition: 0.3s;
  text-shadow: var(--highlight-text-glow);
  outline: none;
}

span.highlight-error:hover {
  transition: 0.3s;
  text-shadow: var(--highlight-error-glow);
  outline: none;
}

tr:hover span.no-hover,
tr:active span.no-hover,
tr:focus span.no-hover {
  color: inherit; /* Reset color */
  text-shadow: var(--highlight-error-glow);
}

a:focus,
a:active {
  color: var(--primary-site-color);
  transition: 0.3s;
  text-shadow: var(--highlight-text-glow);
  outline: none;
}

/* need the local links style to override the row style */
tr:hover a.no-hover,
tr:active a.no-hover,
tr:focus a.no-hover {
  color: inherit; /* Reset color */
  text-shadow: var(--highlight-link-glow);
}

tr.no-hover:hover {
  color: inherit; /* Reset color */
  text-shadow: none;
}

.table-wrapper {
  display: inline-block;
  width: auto;
}

.table-wrapper input {
  width: calc(100%);
  border-radius: 4px;
  border: 1px solid var(--primary-border-color);
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
  box-shadow: 1px 0 55px rgba(7, 8, 7, 0.5);
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

.table-wrapper input:focus[type="text"] {
  transition: 0.3s;
  outline-style: solid;
  outline-color: var(--primary-site-color);
  background-color: rgb(9, 9, 9);
  box-shadow: 0 0 40px var(--primary-site-color);
  animation: glow-input 3s ease-in-out infinite alternate;
  transform: translateZ(0); /* trigger GPU acceleration */
  will-change: transform; /* inform the browser that this element will be animated */
}

.pagination {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 1rem 0;
}

.pagination span {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  color: rgb(var(--foreground-rgb));
  padding: 0.5rem 1rem;
}

.pagination button {
  padding: 0.75rem 2rem;
  color: rgb(var(--foreground-rgb));

  border: 0;
  border: none;
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    var(--primary-site-fade),
    var(--primary-site-color)
  );

  cursor: pointer;
  font: inherit;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.pagination button:hover,
.pagination button:focus {
  transition: 0.3s;
  outline-style: none;
  /* box-shadow: 0 0 40px var(--primary-site-color); */
  animation: glow-input 5s ease-in-out infinite alternate;
}

.pagination button:disabled {
  background: #ccc;
  color: #979797;
  cursor: not-allowed;
}

.pagination button:hover:disabled,
.pagination button:focus:disabled {
  box-shadow: 0 0 40px #60635f;
  animation: glow-input-fix 3s ease-in-out infinite alternate;
  transform: translateZ(0); /* trigger GPU acceleration */
  will-change: transform; /* inform the browser that this element will be animated */
}

@keyframes glow-input {
  0% {
    box-shadow: 0 0 5px var(--primary-site-color),
      0 0 10px var(--primary-site-color), 0 0 15px var(--primary-site-color),
      0 0 20px var(--primary-site-color);
  }
  100% {
    box-shadow: 0 0 10px var(--primary-site-color),
      0 0 20px var(--primary-site-color), 0 0 30px var(--primary-site-color),
      0 0 40px var(--primary-site-color);
  }
}

@keyframes glow-error {
  0% {
    box-shadow: 0 0 5px var(--error-site-color), 0 0 5px var(--error-site-color),
      0 0 15px var(--error-site-color), 0 0 20px var(--error-site-color);
  }
  100% {
    box-shadow: 0 0 10px var(--error-site-color),
      0 0 20px var(--error-site-color), 0 0 30px var(--error-site-color),
      0 0 40px var(--error-site-color);
  }
}

@media (max-width: 768px) {
  .table-wrapper {
    width: 95vw;
  }

  /* turns the table into cards */
  table {
    display: block;
  }

  thead {
    display: none; /* Hide table headers */
  }

  tbody tr {
    display: block;
    margin-bottom: 15px;
    border: 1px solid var(--primary-border-color);
    border-radius: 4px;
    padding: 0.5rem;
  }

  td {
    font-size: 0.85rem;
    display: block;
    text-align: right;
    padding: 5px;
  }

  td::before {
    content: attr(data-label) ": ";

    font-weight: bold;
    float: left;
    background: var(--highlight-text);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
}

@media (min-width: 700px) and (max-width: 1500px) {
  .table-wrapper {
    width: 100%;
    overflow-x: auto;
  }
}
