.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
}

span.highlightError {
  background: var(--highlight-error);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.error {
  font-size: 0.9rem;

  display: block;
  width: 50%;
  padding: 2rem;
  margin: 1rem;
  border-radius: 4px;
  border-color: var(--highlight-error);
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  animation: glow-error 2s ease-in-out infinite alternate;
  transform: translateZ(0); /* trigger GPU acceleration */
  will-change: transform; /* inform the browser that this element will be animated */
}

.actionsError button {
  margin-top: 1rem;
  border: 0;
  border: none;
  border-radius: 2px;
  padding: 0.75rem 2rem;
  background: linear-gradient(
    90deg,
    var(--error-site-fade),
    var(--error-site-color)
  );
  width: 100%;
  cursor: pointer;
  font: inherit;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.actionsError button:hover,
.actionsError button:focus {
  transition: 0.3s;
  outline-style: none;
  /* box-shadow: 0 0 40px var(--primary-site-color); */
  animation: glow-error 5s ease-in-out infinite alternate;
}

.actionsError button:disabled {
  background: #ccc;
  color: #979797;
  cursor: not-allowed;
}

.actionsError button:hover:disabled,
.actionsError button:focus:disabled {
  box-shadow: 0 0 40px #60635f;
  animation: glow-input-fix 3s ease-in-out infinite alternate;
  transform: translateZ(0); /* trigger GPU acceleration */
  will-change: transform; /* inform the browser that this element will be animated */
}

@keyframes glow-error {
  0% {
    box-shadow: 0 0 5px var(--error-site-color), 0 0 5px var(--error-site-color),
      0 0 15px var(--error-site-color), 0 0 20px var(--error-site-color);
  }
  100% {
    box-shadow: 0 0 10px var(--error-site-color),
      0 0 20px var(--error-site-color), 0 0 30px var(--error-site-color),
      0 0 40px var(--error-site-color);
  }
}
