.actions {
  width: 100%;
}

.actions button {
  margin: 1rem;
  border: 0;
  border: none;
  border-radius: 4px;
  padding: 0.75rem 2rem;
  background: linear-gradient(
    90deg,
    var(--primary-site-fade),
    var(--primary-site-color)
  );
  width: 100%;
  cursor: pointer;
  font: inherit;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: rgb(var(--foreground-rgb));
}

.actions button:hover,
.actions button:focus {
  transition: 0.3s;
  outline-style: none;
  /* box-shadow: 0 0 40px var(--primary-site-color); */
  animation: glow-input 5s ease-in-out infinite alternate;
}

.actions button:disabled {
  background: #ccc;
  color: #979797;
  cursor: not-allowed;
}

.actions button:hover:disabled,
.actions button:focus:disabled {
  box-shadow: 0 0 40px #60635f;
  animation: glow-input-fix 3s ease-in-out infinite alternate;
  transform: translateZ(0); /* trigger GPU acceleration */
  will-change: transform; /* inform the browser that this element will be animated */
}

@keyframes glow-input {
  0% {
    box-shadow: 0 0 5px var(--primary-site-color),
      0 0 10px var(--primary-site-color), 0 0 15px var(--primary-site-color),
      0 0 20px var(--primary-site-color);
  }
  100% {
    box-shadow: 0 0 10px var(--primary-site-color),
      0 0 20px var(--primary-site-color), 0 0 30px var(--primary-site-color),
      0 0 40px var(--primary-site-color);
  }
}

@keyframes glow-input-fix {
  0% {
    box-shadow: 0 0 5px var(--info-site-color), 0 0 10px var(--info-site-color),
      0 0 15px var(--info-site-color), 0 0 20px var(--info-site-color);
  }
  100% {
    box-shadow: 0 0 10px var(--info-site-color), 0 0 20px var(--info-site-color),
      0 0 30px var(--info-site-color), 0 0 40px var(--info-site-color);
  }
}
