.drawer {
  width: var(--drawer-width); /* Width of the drawer */
  padding: 1rem;
  position: fixed;
  left: 0;
  top: var(--header-height); /* Height of the header */
  bottom: 0;

  border-right: 1px solid var(--primary-border-color);
  -webkit-mask-image: linear-gradient(
    to bottom,
    var(--primary-border-color),
    transparent
  );
  mask-image: linear-gradient(
    to bottom,
    var(--primary-border-color),
    transparent
  );
}
