.tile {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  min-width: 0;
  text-align: center;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  border: 1px solid var(--primary-border-color);
  border-radius: 4px;
  box-shadow: 1px 0 55px rgba(7, 8, 7, 0.5);
  transition: transform 0.3s ease;
}

.tile:hover,
.tile:active,
.tile:focus {
  transform: scale(1.02);
  text-shadow: var(--highlight-link-glow);
  outline-style: none;
  box-shadow: 0 0 40px var(--secondary-site-color);
  animation: glow-input 5s ease-in-out infinite alternate;
}

.thumbnail {
  position: relative;
  aspect-ratio: 4 / 3; /* pick what works: 4:3, 3:2, 1:1 */

  overflow: hidden;
}

.thumbnail img {
  display: block;
  flex-direction: column;
  width: 100%;
}

.title {
  padding: 1rem;
}

@keyframes glow-input {
  0% {
    box-shadow: 0 0 5px var(--secondary-site-color),
      0 0 10px var(--secondary-site-color), 0 0 15px var(--secondary-site-color),
      0 0 20px var(--secondary-site-color);
  }
  100% {
    box-shadow: 0 0 10px var(--secondary-site-color),
      0 0 20px var(--secondary-site-color), 0 0 30px var(--secondary-site-color),
      0 0 40px var(--secondary-site-color);
  }
}
