.main {
  width: 90%;
  max-width: 75rem;
  margin: 3rem auto;
  color: white;
  min-height: 100vh;
}

.card {
  display: block;
  width: 70%;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
  padding: 2rem;
  margin: 1rem;
  border-radius: 4px;
  border: 1px solid rgb(76, 79, 76);
}

.card li,
.card p {
  padding-left: 0.5rem;
  margin: 1rem;
}

.header {
  gap: 3rem;
  margin: 3rem auto 5rem auto;
  width: 90%;
  max-width: 75rem;
  color: #d4e5cb;
  font-size: 1.2rem;
}

span.highlight {
  background: var(--highlight-text);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

span.info {
  background: var(--highlight-info);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.locallink {
  background: var(--highlight-link);
  font-weight: bold;
  text-decoration: none;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.locallink:hover {
  transition: 0.3s;
  text-shadow: var(--highlight-link-glow);
}

.form {
  max-width: 50rem;
}

.row {
  display: flex;
  margin-bottom: 1.2rem;
}

.field {
  width: 100%;
}

.showpassword {
  transform: scale(2);
  margin-bottom: 0.75rem;
  margin-left: 0.5rem;
}

.showpassword:focus {
  transition: 0.3s;
  outline-style: solid;
  outline-color: var(--primary-site-color);
  box-shadow: 0 0 40px var(--primary-site-color);
  animation: glow-input 3s ease-in-out infinite alternate;
  transform: scale(2) translateZ(0); /* trigger GPU acceleration */
  will-change: transform; /* inform the browser that this element will be animated */
}

.form label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;

  font-weight: bold;
}

.form input[type="text"],
.form input[type="password"] {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid #60635f;
  background: rgb(var(--background-end-rgb));
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
}

.form input:focus[type="text"],
.form input:focus[type="password"] {
  transition: 0.3s;
  outline-style: solid;
  outline-color: var(--primary-site-color);
  background-color: rgb(9, 9, 9);
  box-shadow: 0 0 40px var(--primary-site-color);
  animation: glow-input 3s ease-in-out infinite alternate;
  transform: translateZ(0); /* trigger GPU acceleration */
  will-change: transform; /* inform the browser that this element will be animated */
}

.date {
  width: 100%;
}

.daterow {
  display: flex;
  justify-content: space-between;
}

.daterow select:focus {
  transition: 0.3s;
  outline: none;
  outline-style: none;
  outline-color: var(--primary-site-color);
  background-color: rgb(9, 9, 9);
  animation: glow-input 3s ease-in-out infinite alternate;
  transform: translateZ(0); /* trigger GPU acceleration */
  will-change: transform; /* inform the browser that this element will be animated */
}

.birthdate {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid #60635f;
  background: rgb(var(--background-end-rgb));
  width: 100%;
}

.birthdate:not(:last-child) {
  margin-right: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
}

span.highlightError {
  background: var(--highlight-error);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.error {
  font-size: 0.9rem;

  display: block;
  width: 50%;
  padding: 2rem;
  margin: 1rem;
  border-radius: 4px;
  border-color: var(--highlight-error);
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  animation: glow-error 2s ease-in-out infinite alternate;
  transform: translateZ(0); /* trigger GPU acceleration */
  will-change: transform; /* inform the browser that this element will be animated */
}

.actionsError button {
  margin-top: 1rem;
  border: 0;
  border: none;
  border-radius: 2px;
  padding: 0.75rem 2rem;
  background: linear-gradient(
    90deg,
    var(--error-site-fade),
    var(--error-site-color)
  );
  width: 100%;
  cursor: pointer;
  font: inherit;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.actionsError button:hover,
.actionsError button:focus {
  transition: 0.3s;
  outline-style: none;
  /* box-shadow: 0 0 40px var(--primary-site-color); */
  animation: glow-error 5s ease-in-out infinite alternate;
}

.actionsError button:disabled {
  background: #ccc;
  color: #979797;
  cursor: not-allowed;
}

.actionsError button:hover:disabled,
.actionsError button:focus:disabled {
  box-shadow: 0 0 40px #60635f;
  animation: glow-input-fix 3s ease-in-out infinite alternate;
  transform: translateZ(0); /* trigger GPU acceleration */
  will-change: transform; /* inform the browser that this element will be animated */
}

@keyframes glow-input {
  0% {
    box-shadow: 0 0 5px var(--primary-site-color),
      0 0 10px var(--primary-site-color), 0 0 15px var(--primary-site-color),
      0 0 20px var(--primary-site-color);
  }
  100% {
    box-shadow: 0 0 10px var(--primary-site-color),
      0 0 20px var(--primary-site-color), 0 0 30px var(--primary-site-color),
      0 0 40px var(--primary-site-color);
  }
}

@keyframes glow-input-fix {
  0% {
    box-shadow: 0 0 5px var(--info-site-color), 0 0 10px var(--info-site-color),
      0 0 15px var(--info-site-color), 0 0 20px var(--info-site-color);
  }
  100% {
    box-shadow: 0 0 10px var(--info-site-color), 0 0 20px var(--info-site-color),
      0 0 30px var(--info-site-color), 0 0 40px var(--info-site-color);
  }
}

@keyframes glow-error {
  0% {
    box-shadow: 0 0 5px var(--error-site-color), 0 0 5px var(--error-site-color),
      0 0 15px var(--error-site-color), 0 0 20px var(--error-site-color);
  }
  100% {
    box-shadow: 0 0 10px var(--error-site-color),
      0 0 20px var(--error-site-color), 0 0 30px var(--error-site-color),
      0 0 40px var(--error-site-color);
  }
}
