.tiledisplay {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* flexible cols */
  gap: 1.5rem;
  inline-size: min(100%, 1800px);
  margin-inline: auto;
  padding: 1rem;
}

.edit {
  width: auto;
  align-self: right;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.25rem;
  font-style: italic;
  font-family: "Montserrat", sans-serif;
  margin: 0.75rem 0 0.5rem;
}

.form {
  margin-top: 1rem;
}

.stagedbanner {
  background: var(--highlight-info);
  font-weight: bold;
  text-decoration: none;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  margin-top: 2rem;
  font-size: 0.75rem;
}
