.header {
  --header-height: 6rem;
  display: flex;
  position: fixed;
  width: 100%;
  height: var(--header-height);
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  /* border-bottom: 1px solid var(--primary-border-color); */
  box-shadow: 1px 0 55px rgba(13, 14, 13, 0.5);
  background: linear-gradient(
      to left,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(38, 41, 38);
  z-index: 9999;
}

.left {
  display: flex;
  align-items: center;
  height: 6rem;
}

.right {
  display: flex;
  align-items: center;
  height: 6rem;
}

.logo {
  align-items: center;
  justify-content: center;
}

.logo:hover,
.logo:active,
.logo:focus {
  transition: 0.3s;
  text-shadow: var(--highlight-text-glow);
  outline: none;
}

.logo img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  filter: drop-shadow(0 0 1rem rgb(247, 1, 239));
}

.locallink {
  background: var(--highlight-text);
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.15rem;
  font-size: 1.5rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  padding: 0.5rem 1rem;
  /* border-radius: 0.5rem; */
}

.locallink:hover,
.locallink:active,
.locallink:focus {
  transition: 0.3s;
  text-shadow: var(--highlight-text-glow);
  outline: none;
}

.nav ul {
  list-style: none;

  display: flex;
  gap: 1rem;
  font-size: 1.25rem;
}

/* hide mobile menu on browser screens */
.mobilenav {
  display: none;
}

/* hide the mobile drawer on browser screens */
.mobiledrawer {
  display: none;
}

@media (max-width: 700px) {
  .nav {
    display: none;
  }

  .right {
    display: none;
  }

  .mobilenav {
    display: flex;
  }
  .mobilemenu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
  }

  .mobilemenu button {
    --navmenu-primary: rgb(64, 67, 64);
    --navmenu-fade: rgb(53, 54, 53);
    margin-left: 1rem;
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    width: 5rem;
    height: 5rem;

    object-fit: contain;
    border-radius: 4px;
    border: none;
    background: none;
  }

  .mobilemenu button:hover,
  .mobilemenu button:active,
  .mobilemenu button:focus {
    /* --navmenu-primary: rgb(82, 86, 82);
    --navmenu-fade: rgb(50, 54, 50);

    background: linear-gradient(
      90deg,
      var(--navmenu-primary),
      var(--navmenu-fade)
    ); */
    transition: 0.3s;
    text-shadow: var(--highlight-text-glow);
    outline: none;
  }

  .menubuttonopen button {
    --navmenu-primary: rgb(82, 86, 82);
    --navmenu-fade: rgb(50, 54, 50);

    background: linear-gradient(
      90deg,
      var(--navmenu-primary),
      var(--navmenu-fade)
    );
  }

  .mobiledrawer {
    display: flex;
  }
}

@media (min-width: 700px) and (max-width: 1500px) {
  .nav {
    display: none;
  }

  .right {
    display: none;
  }

  .mobilenav {
    display: flex;
  }
  .mobilemenu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
  }

  .mobilemenu button {
    --navmenu-primary: rgb(64, 67, 64);
    --navmenu-fade: rgb(53, 54, 53);
    margin-left: 1rem;
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    width: 5rem;
    height: 5rem;

    object-fit: contain;
    border-radius: 4px;
    border: none;
    background: none;
  }

  .mobilemenu button:hover,
  .mobilemenu button:active,
  .mobilemenu button:focus {
    /* --navmenu-primary: rgb(82, 86, 82);
    --navmenu-fade: rgb(50, 54, 50);

    background: linear-gradient(
      90deg,
      var(--navmenu-primary),
      var(--navmenu-fade)
    ); */
    transition: 0.3s;
    text-shadow: var(--highlight-text-glow);
    outline: none;
  }

  .menubuttonopen button {
    --navmenu-primary: rgb(82, 86, 82);
    --navmenu-fade: rgb(50, 54, 50);

    background: linear-gradient(
      90deg,
      var(--navmenu-primary),
      var(--navmenu-fade)
    );
  }

  .mobiledrawer {
    display: none;
  }
}
