.drawer {

  width: var(--drawer-width); /* Width of the drawer */
  padding: 1rem;
  position: fixed;
  left: 0;
  top: var(--header-height); /* Height of the header */
  bottom: 0;

  border: 1px solid red;

  /* border-right: 1px solid var(--primary-border-color);
  -webkit-mask-image: linear-gradient(
    to bottom,
    var(--primary-border-color),
    transparent
  );
  mask-image: linear-gradient(
    to bottom,
    var(--primary-border-color),
    transparent
  ); */
}

.section {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  /* text-transform: uppercase; */

  font-weight: bold;
}

.annotation {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;

  font-weight: bold;
}

.menubutton {
  display: block;
  width: 100%;
  padding: 0.5rem;
  text-align: left;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: var(--primary-menutext-color);
  border: 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    var(--menu-button-primary),
    var(--menu-button-fade)
  );
}

.menubutton:hover,
.menubutton:active,
.menubutton:focus {
  transition: 0.3s;
  outline-style: none;
  /* box-shadow: 0 0 40px var(--primary-site-color); */
  /* animation: glow-input 5s ease-in-out infinite alternate; */
}

.submenu {
  --submenu-primary: rgb(64, 67, 64);
  --submenu-fade: rgb(43, 44, 43);

  margin-top: 0.25rem;
  padding: 1rem;
  list-style: none;
  /* border: 1px solid var(--primary-border-color); */
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    var(--submenu-primary),
    var(--submenu-fade)
  );
}

.submenu li {
  /* display: block; */

  padding-bottom: 0.5rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

@keyframes glow-input {
  0% {
    box-shadow: 0 0 5px var(--primary-site-color),
      0 0 10px var(--primary-site-color), 0 0 15px var(--primary-site-color),
      0 0 20px var(--primary-site-color);
  }
  100% {
    box-shadow: 0 0 10px var(--primary-site-color),
      0 0 20px var(--primary-site-color), 0 0 30px var(--primary-site-color),
      0 0 40px var(--primary-site-color);
  }
}

/* mobile styles */
@media (max-width: 700px) {
  .drawer {
    --menu-button-primary: rgb(90, 93, 90);
    --menu-button-fade: rgb(59, 61, 59);
    top: var(--header-height); /* Height of the header */
    position: fixed;
    flex-direction: column;
    width: 100%; /* Width of the drawer */
    padding: 1rem;
    border: 1px solid red;
    z-index: 111;
  }

  .section {
    width: 100%;
  }
}
