.state {
  width: 100%;
}

.cszrow {
  display: flex;
  justify-content: space-between;
}

.cszrow input:focus {
  transition: 0.3s;
  outline: none;
  outline-style: none;
  outline-color: var(--primary-site-color);
  background-color: rgb(9, 9, 9);
  animation: glow-input 3s ease-in-out infinite alternate;
  transform: translateZ(0); /* trigger GPU acceleration */
  will-change: transform; /* inform the browser that this element will be animated */
}

.csz {
  color: var(--foreground-rgb);
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;

  /* border-radius: 4px;
  border: 1px solid var(--primary-border-color); */
  background: rgb(var(--background-end-rgb));
  width: 100%;
}

.csz:not(:last-child) {
  margin-right: 1rem;
}

.box {
  display: flex;

  align-items: center;
  justify-content: left;
  width: 100%;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  padding: 0.25rem 0.5rem;
}

.right {
  justify-content: right;
}

@media (max-width: 700px) {
  .staterow {
    flex-direction: column;
  }

  .staterow input {
    margin-bottom: 0.5rem;
  }

  .box {
    justify-content: left;
    align-items: left;
    margin-bottom: 1rem;
  }
}

@media (min-width: 700px) and (max-width: 1500px) {
  .daterow input {
    margin-bottom: 1rem;
  }
}
